; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(tcp-server)
(udp-server)
(ws-server)

(periodically-expire 10)

(streams
 (default :ttl 300 (index))
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 (sreduce #(+ (:metric %)) 1)
 )
